.elementor-1856 .elementor-element.elementor-element-8433e8b > .elementor-container{max-width:300px;}.elementor-1856 .elementor-element.elementor-element-99b35c3 img{width:268px;height:342px;}.elementor-1856 .elementor-element.elementor-element-99b35c3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;--e-transform-transition-duration:500ms;}.elementor-1856 .elementor-element.elementor-element-99b35c3{z-index:0;}.elementor-1856 .elementor-element.elementor-element-99b35c3 > .elementor-widget-container:hover{--e-transform-scale:1.1;}.elementor-1856 .elementor-element.elementor-element-01be8df .elementor-icon-list-icon i{color:#999999;}.elementor-1856 .elementor-element.elementor-element-01be8df .elementor-icon-list-icon svg{fill:#999999;}.elementor-1856 .elementor-element.elementor-element-01be8df .elementor-icon-list-item:hover .elementor-icon-list-icon i{color:#43B02A;}.elementor-1856 .elementor-element.elementor-element-01be8df .elementor-icon-list-item:hover .elementor-icon-list-icon svg{fill:#43B02A;}.elementor-1856 .elementor-element.elementor-element-01be8df{--e-icon-list-icon-size:14px;z-index:1;}.elementor-1856 .elementor-element.elementor-element-01be8df .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1856 .elementor-element.elementor-element-01be8df .elementor-icon-list-item > a{font-family:"Roboto", Sans-serif;font-weight:400;}.elementor-1856 .elementor-element.elementor-element-82d05da{color:#999999;font-family:"Merriweather Sans", Sans-serif;font-size:14px;font-weight:400;z-index:1;}.elementor-1856 .elementor-element.elementor-element-3f0ffac .elementor-heading-title{color:#000000;font-family:"Playfair Display SC", Sans-serif;font-size:18px;font-weight:400;}.elementor-1856 .elementor-element.elementor-element-34f0e0b{width:43.289%;}.elementor-1856 .elementor-element.elementor-element-34f0e0b > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1856 .elementor-element.elementor-element-ab20e77{color:#43B02A;font-family:"Merriweather Sans", Sans-serif;font-size:14px;font-weight:400;}.elementor-1856 .elementor-element.elementor-element-6a23e69{width:56.711%;}.elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-icon i{color:#FDC008;}.elementor-1856 .elementor-element.elementor-element-05013fd .elementor-icon-list-icon svg{fill:#FDC008;}.elementor-1856 .elementor-element.elementor-element-05013fd{--e-icon-list-icon-size:10px;--e-icon-list-icon-align:right;--e-icon-list-icon-margin:0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);}.elementor-1856 .elementor-element.elementor-element-05013fd > .elementor-widget-container{margin:010px 10px 0px 0px;}.elementor-1856 .elementor-element.elementor-element-2a465d3 > .elementor-container{max-width:300px;}.elementor-1856 .elementor-element.elementor-element-2a465d3{margin-top:20px;margin-bottom:0px;}.elementor-1856 .elementor-element.elementor-element-79d21ed img{width:268px;height:342px;}.elementor-1856 .elementor-element.elementor-element-79d21ed > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;--e-transform-transition-duration:500ms;}.elementor-1856 .elementor-element.elementor-element-79d21ed{z-index:0;}.elementor-1856 .elementor-element.elementor-element-79d21ed > .elementor-widget-container:hover{--e-transform-scale:1.1;}.elementor-1856 .elementor-element.elementor-element-f437356 .elementor-icon-list-icon i{color:#999999;}.elementor-1856 .elementor-element.elementor-element-f437356 .elementor-icon-list-icon svg{fill:#999999;}.elementor-1856 .elementor-element.elementor-element-f437356 .elementor-icon-list-item:hover .elementor-icon-list-icon i{color:#43B02A;}.elementor-1856 .elementor-element.elementor-element-f437356 .elementor-icon-list-item:hover .elementor-icon-list-icon svg{fill:#43B02A;}.elementor-1856 .elementor-element.elementor-element-f437356{--e-icon-list-icon-size:14px;z-index:1;}.elementor-1856 .elementor-element.elementor-element-f437356 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1856 .elementor-element.elementor-element-f437356 .elementor-icon-list-item > a{font-family:"Roboto", Sans-serif;font-weight:400;}.elementor-1856 .elementor-element.elementor-element-ca31d68{color:#999999;font-family:"Merriweather Sans", Sans-serif;font-size:14px;font-weight:400;z-index:1;}.elementor-1856 .elementor-element.elementor-element-a3b57f3 .elementor-heading-title{color:#000000;font-family:"Playfair Display SC", Sans-serif;font-size:18px;font-weight:400;}.elementor-1856 .elementor-element.elementor-element-05edc4a{width:56.711%;}.elementor-1856 .elementor-element.elementor-element-05edc4a > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-1856 .elementor-element.elementor-element-dad4325{color:#43B02A;font-family:"Merriweather Sans", Sans-serif;font-size:14px;font-weight:400;}.elementor-1856 .elementor-element.elementor-element-dad4325 > .elementor-widget-container{margin:020px 0px 0px 0px;}.elementor-1856 .elementor-element.elementor-element-7e19174{width:43.289%;}.elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-icon i{color:#FDC008;}.elementor-1856 .elementor-element.elementor-element-55da93e .elementor-icon-list-icon svg{fill:#FDC008;}.elementor-1856 .elementor-element.elementor-element-55da93e{--e-icon-list-icon-size:10px;--e-icon-list-icon-align:right;--e-icon-list-icon-margin:0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);}.elementor-1856 .elementor-element.elementor-element-55da93e > .elementor-widget-container{margin:15px 10px 0px 0px;}/* Start custom CSS for image, class: .elementor-element-99b35c3 */.elementor-element-99b35c3 img{
    position: absolute;
    left: 0px;
    top: -50px;
    
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-01be8df */.elementor-element-01be8df{
    position: absolute;
    top: 260px;
    left: 0px;
    background-color: #F5F5F5;
    height: 50px;
    cursor: pointer;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    opacity: 0;
}
.elementor-element-01be8df li{
    cursor: pointer;
    width: 50px;
    height: 48px;
}
.elementor-element-01be8df li:hover{
    background-color: #fff;
    border: 1px dashed #ccc; 
}
.elementor-element-17157ad:hover .elementor-element-01be8df{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-82d05da */.elementor-element-82d05da {
    position: absolute;
    top: 320px;
    left: 20px;
    height: 40px
}
@-webkit-keyframes wobble-top-on-hover {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes wobble-top-on-hover {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.woob{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.woob:hover, .wobble-top-on-hover:focus{
  -webkit-animation-name: wobble-top-on-hover;
  cursor: pointer;
  animation-name: wobble-top-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.elementor-1856 .elementor-element.elementor-element-82d05da:hover{
    color: #43b02a;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-3f0ffac */.elementor-element-3f0ffac{
    position: absolute;
    top: 360px;
    left: 20px;
}
.elementor-1856 .elementor-element.elementor-element-3f0ffac .elementor-heading-title:hover{
    color: #43b02a;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-e4358ca */.elementor-element-e4358ca{
    position: absolute;
    bottom: 10px;
    line-height: 0
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-17157ad */.elementor-element-17157ad{
    width: 300px;
    height: 440px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1px dashed #fff
}
.elementor-element-17157ad:hover{
    border: 1px dashed #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-79d21ed */.elementor-element-79d21ed img{
    position: absolute;
    left: 0px;
    top: -50px;
    
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-f437356 */.elementor-element-f437356{
    position: absolute;
    top: 260px;
    left: 0px;
    background-color: #F5F5F5;
    height: 50px;
    cursor: pointer;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    opacity: 0;
}
.elementor-element-f437356 li{
    cursor: pointer;
    width: 50px;
    height: 48px;
}
.elementor-element-f437356 li:hover{
    background-color: #fff;
    border: 1px dashed #ccc; 
}
.elementor-element-3c533ce:hover .elementor-element-f437356{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-ca31d68 */.elementor-element-ca31d68 {
    position: absolute;
    top: 320px;
    left: 20px;
    height: 40px
}
@-webkit-keyframes wobble-top-on-hover {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes wobble-top-on-hover {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.woob{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.woob:hover, .wobble-top-on-hover:focus{
  -webkit-animation-name: wobble-top-on-hover;
  cursor: pointer;
  animation-name: wobble-top-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.elementor-1856 .elementor-element.elementor-element-ca31d68:hover{
    color: #43b02a;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a3b57f3 */.elementor-element-a3b57f3{
    position: absolute;
    top: 360px;
    left: 20px;
}
.elementor-1856 .elementor-element.elementor-element-a3b57f3 .elementor-heading-title:hover{
    color: #43b02a;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-dad4325 */.giamgia{
    text-decoration: line-through;
    color: #999;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f5e45d3 */.elementor-element-f5e45d3{
    position: absolute;
    bottom: 10px;
    line-height: 0
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3c533ce */.elementor-element-3c533ce{
    width: 300px;
    height: 440px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1px dashed #fff
}
.elementor-element-3c533ce:hover{
    border: 1px dashed #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}/* End custom CSS */